---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Badge from '../components/Badge.astro';
import GitHub from '../components/icons/GitHub.astro';
import Linkendin from '../components/icons/Linkendin.astro';
import SocialPill from '../components/SocialPill.astro';
import Gmail from '../components/icons/Gmail.astro';
import Case from '../components/icons/Case.astro';
import Experience from '../components/Experience.astro';
import SectionContainer from '../components/SectionContainer.astro';
import Code from '../components/icons/Code.astro';
import Projects from '../components/Projects.astro';
---

<Layout 
title="Portafolio de Santiago García - Desarrollador Web"
description='Conoce mejor el trabajo que ofrece el desarrollador Front-end Santiago García para tu próximo proyecto de desarrollo web'>
	<main class="px-4">
		<SectionContainer class="py-44 pb-32" id="sobre-mi top">

			<h1 class="text-white text-3xl md:text-4xl lg:text-5xl font-bold flex flex-row gap-x-4 pb-6 lg:pb-10 t">Hey, soy Santiago
				<a 
				href="https://github.com/Santiagarmo" 
				target="_blank"
				rel="noopener"
				class="flex justify-center items-center"> 
					<Badge>Abierto a ofertas</Badge>
				<a/>
			</h1>
			<h2 class="text-xl lg:text-2xl leading-9 opacity-90 text-wrap max-w-[700px]">
				Programador Junior. <br>
				<span class="font-semibold">Desarrollador Front end en Constante Aprendizaje</span>
				especializado en Desarrollo de Aplicaciones
				web con:
				<span class="font-semibold">
					<span class="text-blue-500">React</span>
					<span class="text-red-600/95">Next.js</span> 
					<span class="opacity-70 font-normal">y</span>
					<span class="text-purple-600">Astro</span>
				</span>
				

			</h2>

		<nav class="flex gap-4 mt-10 flex-wrap">
				<SocialPill href="https://www.linkedin.com/in/santiago-garcía-754179256/" target="_blank">
					<Linkendin class="size-4 md:size-6"/>
					LinkendIn
				</SocialPill>
				<SocialPill href="https://github.com/Santiagarmo" target="_blank">
					<GitHub class="size-4 md:size-6"/>
					GitHub
				</SocialPill>
				<SocialPill href="mailto:space270406@gmail.com" target="">
					<Gmail class="size-4 md:size-6"/>
					space270406@gmail.com
				</SocialPill>
		</nav>
		</SectionContainer>

		<!-- LOGROS Y PROYECTOS -->

		<SectionContainer id="experiencia">
			<h2 class="text-3xl font-semibold mb-6 flex gap-x-3 items-center">
				<Case class="size-7	"/>
				Experiencia Laboral
			</h2>
			<Experience/>
		</SectionContainer>

		<!-- PROYECTOS -->

		<SectionContainer id="proyectos">
			<h2 class="text-3xl font-semibold mb-6 flex gap-x-3 items-center">
				<Code class="size-7	"/>
				Proyectos Destacados
			</h2>
			<Projects/>
		</SectionContainer>
	</main>
</Layout>