---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Badge from '../components/Badge.astro';
---

<Layout title="Welcome to Astro.">
	<main>
		<section class="w-full lg:w-[740px] mx-auto py-44">

			<h1 class="text-white text-5xl font-bold flex flex-row gap-x-4 pb-10">Hey, soy Santiago
				<a 
				href="https://github.com/Santiagarmo" 
				target="_blank"
				rel="noopener"
				class="flex justify-center items-center"> 
					<Badge>Abierto a ofertas</Badge>
				<a/>
			</h1>
			<h2 class="text-xl">Programador Junior. Desarrollador Front end en Constante Aprendizaje especializado en Desarrollo de Aplicaciones
				web con React, Next.js y Astro.
			</h2>

		</section>
	</main>
</Layout>