
<footer class="border-t shadow md:flex md:items-center md:justify-between md:p-6 bg-black border-gray-700 mt-4 w-full xl:w-[1120px] mx-auto">
    <span class="text-sm text-white sm:text-center">© 2024 <a href="https://flowbite.com/" class="hover:underline">Santiagarmo</a>. All Rights Reserved.
    </span>
    <ul class="flex flex-wrap items-center mt-3 text-sm font-medium text-gray-500 dark:text-gray-400 sm:mt-0">
        <li>
            <a href="#sobre-mi" class="hover:underline me-4 md:me-6">Sobre mí</a>
        </li>
        <li>
            <a href="https://github.com/Santiagarmo" class="hover:underline me-4 md:me-6">GitHub</a>
        </li>
        <li>
            <a href="#" class="hover:underline me-4 md:me-6">Licensing</a>
        </li>
        <li>
            <a href="#top" class="hover:underline">Contacto</a>
        </li>
    </ul>
</footer>


    