<header class="flex justify-between items-center py-3 w-full xl:w-[1120px] mx-auto">
    <img
    class="rounded-full h-12 w-12" 
    src="https://i.pinimg.com/236x/bf/57/02/bf57026ee75af2f414000cec322f7404.jpg" 
    alt="foto-portafolio">

    <nav class="flex flex-row gap-x-10 opacity-80">
        <a href="#top">Inicio</a>
        <a href="#sobre-mi">Sobre mí</a>
        <a href="#experiencia">Experiencia</a>
        <a href="#proyectos">Proyectos</a>
        <a href="#contacto">Contacto</a>
    </nav>
</header>